
/* Global Styles */
html {
  color: #222;
  font-size: 60%;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 675;
  font-style: normal;
  font-variation-settings: "wdth" 78.1;
}



/* Headings */
h3 {
  font-family: var(--font-ubuntu);
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  line-height: 1.4;
}
h1, h2, h4, h5, h6 {
  font-family: var(--font-ubuntu);
  font-weight: 700;
  color: #000000;
  line-height: 1.2;
}




/* Header */
.header {
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 50;
  height: 20%;
  padding: 5px 0;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background: transparent;
  margin-right: 120px;
}

.header li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  z-index: 1;
  
}

.header li a:hover,
.header .menu-btn:hover {
  background: transparent;
}



/* Logo Container */
.header .logo-container {
  display: inline-flex;
  align-items: center;
  float: left;
}

.header .logo-container img {
  width: 70px;
  height: 67px;
  margin-right: 10px;
}

.header .logo-container .text-container {
  display: flex;
  flex-direction: column;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5), 20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
}

.header .logo-container h2,
.header .logo-container h3 {
  line-height: 1.3;
  margin: 2px 15px 2px 20px;
}

.header .logo {
  color: #ffd300;
  display: block;
  float: left;
  font-size: 2.5em;
  padding: 2px 0;
  text-decoration: none;
  margin-left: 10px;
  font-family: var(--font-ubuntu);
  font-weight: 700;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 20px 20px 20px rgba(0, 0, 0, 0.4), 30px 30px 30px rgba(0, 0, 0, 0.1);
}

/* Menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 0px 15px 0px 20px;
  position: relative;
 
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 20px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
  height: auto;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* Dropdown Menu */
.dropdown-menu {
  min-width: 200px;
  animation: dropdown-animation 0.3s;
  transform-origin: top;
  position: absolute;
}

.header .dropdown-menu {
  display: none;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  min-width: 100px;
}

.header li:hover .dropdown-menu {
  display: block;
  position: relative;
  left: 0;
  top: 100%;
}

.header .dropdown-menu .dropdown-item {
  position: relative;
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: color 0.2s ease-in;
  display: block;
  text-align: left;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
}

.header .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  margin: 0; 
}

.header .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: #c0ca33;
}

.header .dropdown-menu .dropdown-item::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #c0ca33;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.header .dropdown-menu .dropdown-item:hover::before {
  opacity: 1;
}


/* Fixed Header */
.header.fixed-top {
  position: fixed;
  animation: header-animation 0.6s;
  background-color: rgba(0, 0, 0, 0.9);
}

.header.fixed-top .logo-container h2,
.header.fixed-top .logo-container h3,
.header.fixed-top .link {
  color: white;
}

.header.fixed-top .btn span {
  background: rgb(245, 243, 243);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header.fixed-top .link:hover {
  color: #FE8400;
}

.header.fixed-top .menu-icon .navicon:after,
.header.fixed-top .menu-icon .navicon:before,
header.fixed-top .menu-icon .navicon {
  background: #fffefe;
}

/* Link Underline */
.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  text-transform: uppercase;
  font-family: var(--font-noto-serif);
  font-size: small;
  color: black;
  white-space: nowrap; 
}

.link:active,
.link:focus,
.link:hover {
  outline: 0;
}

.link:before {
  content: '';
  position: absolute;
  bottom: 0;
  background: #f04b4b;
  width: 0;
  height: 2px;
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  z-index: 20;
}

.link:hover {
  color: #ffffff;
  border-bottom: 2px solid transparent;
}

.link:hover:before {
  width: 100%;
}

/* Link White */
.link-white {
  color: #fff;
}

.link-white:hover {
  color: #ffd300;
}

.link-white:before {
  background: #fff;
}

.link-white:hover:before {
  background: #ffd300;
}

/* Animations */
@keyframes header-animation {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dropdown-animation {
  0% {
    transform: scaleY(0);
  }
  75% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}


.header .container_button {
  float: right; 
  margin-top: 3px; 
  margin-right: 40px;
  position: relative;
  background: transparent; 
}

.btn {
  /* Ajustar el ancho y alto para que se adapte al contenido */
  width: auto; /* Cambiado de 100% */
  max-width: none; /* Removido max-width */
  height: auto; /* Cambiado de 40px */
  display: inline-block; 
  font-size: inherit;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-noto-serif);
  font-weight: 600;
  letter-spacing: 0.045em;
  position: relative; 
  right: 0;
  display: flex;
  align-items: center;
  padding: 0.5em 1em; /* Añadido padding para el contenido */
}

.btn svg {
  width: 10em; 
  height: 20em;  
  position: absolute; 
  margin: 0 auto; 
  display: block; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  pointer-events: none;
}

.btn svg rect {
  stroke-width: 4;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  transition: all 600ms ease; 
}

.btn span {
  background: rgb(0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 1em; 
  padding: 0.5em 1em;
}

.btn:hover svg rect {
  stroke-width: 4;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}


.auth-social-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  
}

.social-containernavbar {
  display: flex;
  gap: 10px;
  margin-right: 15px;
}




.social-containernavbar svg {
  width: 24px;
  height: 24px;
}



/* Media Queries */
/* Smartphones en modo vertical y horizontal */
@media only screen and (max-width: 480px) {
  html {
    font-size: 50%; 
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 10px;
  }
  .header {
    height: auto;
    padding: 10px 0;
    
  }
  
  .header .dropdown-menu .dropdown-item {
    padding: 6px 
  }
  .header ul {
    margin-right: 0;
  }

  .header li a {
    padding: 10px;
  }

  .header .logo-container img {
    width: 50px;
    height: 47px;
  }

  .header .logo-container h2,
  .header .logo-container h3 {
    margin: 2px 10px;
  }

  

  .header .dropdown-menu {
    min-width: 150px;
  }

  

  .link {
    font-size: smaller;
  }
 

 
  .header .menu-icon {
    bottom: 10px;
    top: 50px;
    
  }
  
  .header .social-containernavbar {
    display: flex;
    justify-content:flex-start;
    margin-bottom: 10px;
  }
}




/* Tablets en modo vertical y horizontal */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 55%;
  }
  
  .header {
    padding: 15px 0;
  }

  .header .logo-container img {
    width: 60px;
    height: 57px;
  }

  .header .logo-container h2,
  .header .logo-container h3 {
    margin: 2px 12px;
  }

  .header .menu {
    max-height: none;
  }

  .header .dropdown-menu {
    min-width: 175px;
  }
}

/* Tablets en modo vertical */
@media only screen and (min-width: 481px) and (max-width: 600px) {
  html {
    font-size: 53%;
  }
  
  .header .menu {
    max-height: 220px;
  }
}

/* Tablets en modo horizontal */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  html {
    font-size: 57%;
  }
  
  .header .menu {
    max-height: 230px;
  }
}

/* Monitores y laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 58%;
  }
  
  .header {
    height: 18%;
  }
  
  
}

/* Monitores grandes */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 59%;
  }
  
  .header {
    height: 16%;
  }
  
 
}

/* Monitores muy grandes */
@media only screen and (min-width: 1201px) {
  html {
    font-size: 60%;
  }
  
  .header {
    height: 15%;
  }
  
  
}























  /* @media (min-width: 875px) {
    .header {
      height: 20%;
    }
    .header li {
      float: left;
    }
    
    .header li a {
      padding: 20px 0px 0px 0px;
      margin-left: 30px;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
    .header.fixed-top .link  {
      background: transparent;
    }
    .header .dropdown-menu {
      position: fixed;
      
  
    }
    
  }
  

  @media (max-width: 875px) {
    .header {
     height: 20%;
   }

 }

    

      @media only screen and (min-width: 350px) {
        
        
        .header {
          height: 40%;
        }
        .header .container_button {
         
          margin-top: 3px; 
          margin-right: 10px;
        }
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 20px;
        }
      }
        
      @media only screen and (min-width:768px) {
      
       
        h1 {
          font-size: 48px;
        }
        h2 {
          font-size: 28px;
        }
        
      }
      
      @media only screen and (min-width:992px) {
        
        h1 {
          font-size: 60px;
        }
        h2 {
          font-size: 28px;
        }
      
      }
      
      @media only screen and (min-width:1200px) {
        .header {
          height: 30%;
        }
        h1 {
          font-size: 80px;
        }
        h2 {
          font-size: 30px;
        }
      
      }
  

      @media only screen and (min-width:525px) {
        .header {
          height: 33%;
        }
        .header .container_button {
         
          margin-top: 3px; 
          margin-right: 10px;
        }
      }

      
      @media only screen and (max-width:525px) {
        .header {
          height: 25%;
        }
        .header .container_button {
         
          margin-top: 3px; 
          margin-right: 10px;
        }
      } */