
.carousel {
    position: absolute;
    width: 100%;

}



.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden
    
}

.carousel-inner::after {
    display: block;
    clear: both;
    content: ""
}

.carousel-item {
    position: relative;
    display: none;
    height:70vh;
    float: left;
    width: 100%;
    overflow: hidden;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out
} 

@media (prefers-reduced-motion:reduce) {
    .carousel-item {
        transition: none
    }
}


.carousel-item Image {
    position: relative;
    margin: auto; 
    width: 100%;
    height: 100%; 
    object-fit: cover;
    z-index: 0;
    background-size: cover;
 
}


.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block
}

.active.carousel-item-end,
.carousel-item-next:not(.carousel-item-start) {
    transform: translateX(100%)
}

.active.carousel-item-start,
.carousel-item-prev:not(.carousel-item-end) {
    transform: translateX(-100%)
}

.carousel-control-next > .visually-hidden {
    display: none;
}
.carousel-control-prev > .visually-hidden {
    display: none;
}


.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease
}

@media (prefers-reduced-motion:reduce) {

    .carousel-control-next,
    .carousel-control-prev {
        transition: none
    }
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9
}

.carousel-control-prev {
    left: 0
}

.carousel-control-next {
    right: 0
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e")
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%
}

.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease
}

@media (prefers-reduced-motion:reduce) {
    .carousel-indicators [data-bs-target] {
        transition: none
    }
}

.carousel-indicators .active {
    opacity: 1
}

.carousel-caption {
    bottom: 1.25rem;
    left: 12%;
    padding: 75px 0; 
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
}



.carousel-caption .header-content {
    padding: 5%;
    position: relative;
    overflow: hidden;
  }


  .carousel-line {
    content: "";
    display: inline-block;
    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    border: 0.7vw solid #000000; 
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-delay: 0.3s; /* Ajusta el retraso de la animación si es necesario */
    animation-fill-mode: both;
  }
  

  .carousel-caption  h1 {
     font-size: 4vw; 
    font-weight: 600;
    margin: 5px 0 1.5vw; 
    word-spacing: 0.2em; 
    color: #000000;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.carousel-caption h2 {
    font-weight: 300;
    font-size: 2.5vw;
    color: #000000;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}

.carousel-caption h4 {
    font-size: 1.5vw; 
    font-weight: 300;
    line-height: 4vw;
    color: #020202;
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 0.3s;
}


@keyframes fadeInLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }

}

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.carousel-dark .carousel-control-next-icon,
.carousel-dark .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #000
}

.carousel-dark .carousel-caption {
    color: #000
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon,
[data-bs-theme=dark] .carousel .carousel-control-prev-icon,
[data-bs-theme=dark].carousel .carousel-control-next-icon,
[data-bs-theme=dark].carousel .carousel-control-prev-icon {
    filter: invert(1) grayscale(100)
}

[data-bs-theme=dark] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme=dark].carousel .carousel-indicators [data-bs-target] {
    background-color: #000
}

[data-bs-theme=dark] .carousel .carousel-caption,
[data-bs-theme=dark].carousel .carousel-caption {
    color: #000
}

@media (max-width: 768px) {

    .carousel-item Image {
        width: 100%;
        height: auto; 
        max-height: 100%; 
      }
    .carousel-caption .header-content {
      padding: 10%; 
    }
  
    .carousel-line {
      width: 20%; 
      border: 1vw solid #000000;
    }
    .carousel-caption h1 {
      font-size: 5vw; 
      margin-bottom: 1vw; 
    }
  
    .carousel-caption h2 {
      font-size: 3vw; 
    }
  
    .carousel-caption h4 {
      font-size: 2vw; 
      line-height: 4vw; 
    }
  }




  @media (max-width: 475px) {
    .carousel-inner {
        display: grid;
        transform: translate3d(0,0,0.1px);
        display: flex;
        overflow: hidden;
        padding: 2em 0 4em;
        margin: 0;
        contain: layout;
        isolation: isolate;
        
    }
 
.carousel-item {
    display: grid;
    position: relative;
    align-content: start;
    margin: 0 5px;
    flex-basis:10%;
    padding: 0;
    border-radius: 8px;
    flex: 1 1 10%;
    height: var(--height);
    overflow: hidden;
    background: rgba(255,255,255,0.2);
    transform: translate3d(0,0,0.1px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 3px 15px 2px, rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    contain: layout;
    isolation: isolate;
} 
.carousel-line{
    display: none;
}


.carousel-item,
.carousel-item * {
    transition: all .6s cubic-bezier(.55,.24,.18,1);
    user-select: none;
}



.carousel-item:hover {
    flex-basis: calc( var(--width) / 2 );
    transition: all 0.3s ease;
}



.carousel-item Image {
    
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 2/3; 
    filter: saturate(0.2) contrast(0.75) brightness(1.1);
     z-index: -1;
}



.carousel-caption  {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    min-height: 200px;
    padding: 1em;
    z-index: 2;
    background-image: radial-gradient( ellipse at 0px 0px, rgba(0,0,0,0.4) 20%, transparent 50% );
    background-size: 170% 200px;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
}

.carousel-item::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background: linear-gradient(160deg, rgba(37, 37, 38, 0) 40%, rgba(198, 194, 73, 0.5) 70%, rgba(255, 106, 0, 0.6) 100%);
    transition: all .66s cubic-bezier(.55,.24,.18,1);
}


  .carousel-caption  h1 {
    color: #e8eff4;
    font-size: 1.50em;
    font-weight: 600;
    letter-spacing: .8px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    
}

.carousel-caption  h2 {
    font-size: 2.5vw; 
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    background: linear-gradient( 270deg, rgb(255, 119, 0), rgb(255, 183, 0) );
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0.85;
    text-wrap: balance;
    margin-bottom: 0.5em;
    
}

.carousel-caption h4 {
    font-size: 3vw; 
    line-height: 4vw; 
  }
.carousel-caption  h1,
.carousel-caption  h2 {
    margin: 0;
    line-height: 1.1;
    opacity: 0;
    transform: translateX(-200px);
    transition-duration: 1s; 
    max-width: 18em;
   
}


  }
 


/* 

  width='480' height='720' */